@model Portal.Shared.Models.Entities.Permission

<form id="permissionForm" asp-action="Save" asp-controller="Permission" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <div class="modal-body">
        <div class="form-floating mb-3">
            <input asp-for="Name" class="form-control" placeholder=" " required />
            <label asp-for="Name"></label>
        </div>
        <div class="form-floating mb-3">
            <input asp-for="Key" class="form-control" placeholder=" " required />
            <label asp-for="Key"></label>
        </div>
        <div class="form-floating">
            <textarea asp-for="Description" class="form-control" placeholder=" " style="height: 100px"></textarea>
            <label asp-for="Description"></label>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ยกเลิก</button>
        <button type="submit" class="btn btn-primary">บันทึก</button>
    </div>
</form>